$blue-color: #3185FC;
$white: #eff6ee;
$dark: #02020A;
$purple: #7209B7;
$regularFont:'Lusitana', serif;
$titleFont : 'Press Start 2P', cursive;
*{
  background-color: $dark;
  font-family: $regularFont;
  color: $white;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: $white;
}

// .App-header{
  
//   box-sizing:border-box;
//   border-radius: 8px;
//   background: radial-gradient(circle at 100% 100%, rgb(0, 1, 10) 0, rgb(0, 1, 10) 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
//               radial-gradient(circle at 0 100%, rgb(0, 1, 10) 0, rgb(0, 1, 10) 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
//               radial-gradient(circle at 100% 0, rgb(0, 1, 10) 0, rgb(0, 1, 10) 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
//               radial-gradient(circle at 0 0, rgb(0, 1, 10) 0, rgb(0, 1, 10) 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
//               linear-gradient(rgb(0, 1, 10), rgb(0, 1, 10)) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
//               linear-gradient(rgb(0, 1, 10), rgb(0, 1, 10)) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
//               linear-gradient(147deg, transparent 25%, #48abe0 25%, #48abe0 50%, transparent 50%, transparent 75%, #48abe0 75%)
// }
main{
  position: absolute;
  width: 90%;
  height: 85%;
  padding: 7px;
  margin: 25px;
  background: $dark;
  // border: none;
  // text-align: center;
  // z-index: 1;
  // border-top-left-radius: 37px 140px;
  // border-top-right-radius: 23px 130px;
  // border-bottom-left-radius: 110px 19px;
  // border-bottom-right-radius: 120px 24px;
  // border: solid 3px $purple;
  // transform: rotate(-1deg);
  // box-shadow: 3px 15px 8px -10px rgb(23, 160, 64);
  // transition: all 0.13s ease-in;
}
// main:hover {
//   transform: translateY(-10px) rotate(1deg);
//   box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
// }
.content-div{
  display:flex;
  justify-content: space-between;
  margin-left:7rem ;
  align-items: center;
  position: relative;
  top:15%
}
// main::after,
// main::before {
//   position: absolute;
//   width: 33px;
//   height: 20px;
//   content: "";
// }
// main::before {
//   left: 0;
//   top: 0;
//   border-radius: 3px;
//   border-left: 3px solid white;
//   border-top: 3px solid white;
//  }
//  main::after {
//   right: 0;
//   bottom: 0;
//   border-radius: 3px;
//   border-right: 3px solid white;
//   border-bottom: 3px solid white;
//  }

.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: $dark;
  display:flex;
  justify-content: center;
  align-items: center;
  animation: disappear 0.3s ease-in forwards;
  animation-delay: 5s;
}

.loading svg circle{
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: circleAppear 2s ease-in forwards;
}
.loading path{
  opacity: 0;
  transform-origin: center center;
  transform:scale(0.6,0.6);
  animation: appearN 1s linear forwards;
  animation-delay: 2s;
}
@keyframes circleAppear {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes appearN {
  to {
    opacity: 1;
    transform:scale(1,1);
  }
}
@keyframes disappear {
  to {
    opacity: 0;
    z-index: -1;
    content:'';
  }
}
.Menu{
  position: absolute;
  right: 5%;
  font-size: 2.5rem;
  cursor: pointer;
  text-align: justify;
  
}
.Menu>ul > *:not(:last-child){
  display: block;
    margin-bottom: 1rem;
}
.Menu li{
  font-family:  $titleFont;
  background-image: linear-gradient(
      to right,
      $purple,
      $white 50%,
      $white
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    
  }
  .Menu li:after {
  content: '';
  background: $purple;
  display: block;
  position: relative;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 5px;
  transition: all 0.5s ease-in-out;
}
.Menu li:hover {
  background-position: 0;
 }
.Menu li:hover::after {
  width: 100%;
}

.Project-Menu{
  font-size: 1.5rem;
  li{  
    visibility: hidden;
    height: 0;
    transform: scale(0.8) ;
    height: 0;
    animation: slidedown 350ms ease-out both;
    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        margin-bottom: 0.5rem;
        @if $i%2 == 0 {transform:translateX(-3rem);}
        @else { transform:translateX(3rem);}
        animation-delay: 250ms * $i;
      }
    }
  }
 
}
@keyframes slidedown{
  to{
  visibility: visible;
  height: 100%;
  transform: scale(1) translateX(0);
  }
}
.Project-Menu.active{
  transition: height 1s;
  height: 100%;
}


.project-title{
  display: flex;
  font-family:  $titleFont;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.display-component{
  text-align: left;
  opacity: 0;
  width: auto;
  height: auto;
}
.display-component h1{
    font-size: 3rem;
    font-family:  $titleFont;
}
.display-component p{
  font-size: 1.5rem;
}
.project-List{
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.project-List svg{
  font-size: 1.5rem
}
.project-List svg:hover{
  color:antiquewhite
}
