$blue-color: #3185FC;
$white: #eff6ee;
$dark: #02020A;
$purple: #7209B7;

$regularFont: 'Exo 2', sans-serif;
$specialFont: 'Press Start 2P', system-ui;
li{
  list-style: none;
}

.Nav{
  margin:  3rem;
  display: flex;
  justify-content: space-between; 
}
.Nav>svg{
  height: 8rem;
}

.socials{
  display: flex;
  flex-direction: row;
  align-content:flex-start;
  padding: 0;
  color :rgb(18, 405, 405)
}

.socials li{
  margin: 0 1rem;
  font-size: 1.5rem;
}
.socials li:hover{
  transform: scale(1.05);
  }
.socials li:nth-child(1):hover{
  svg{
    fill: #0072b1;
  }
    
}
.socials li:nth-child(2):hover{
  svg{
    fill: #808080;
  }
    
} 
.socials li:nth-child(3):hover{
  svg{
    fill: #e60023;
  }
}
  .socials li:nth-child(4):hover{
    svg{
      fill: #32ac2d;
    }
    
}   

.shake{
  animation: jiggle 1.5s linear  ;
  cursor: pointer;
}



@keyframes jiggle{
  0%   { transform: translate(0%); transform: rotate(0deg);}
  25%  { transform: translate(-20%);transform: rotate(-20deg)}
  50%  { transform: translate(20%);transform: rotate(20deg)}
  75%  {transform: translate(-20%);transform: rotate(-20deg)}
  100% {transform: translate(0%);}
}
@media (max-width: 900px) {
.Nav{
  width: 100%;
  display: block;
  margin: 3rem 0 2rem 2rem;
}
}